@model IEnumerable<TestCrud.EntityModel.Models.Usuarios>

@{
    ViewData["Title"] = "Listado";
}

<style>
    #modal-cargarPlanillas {
        width: 60% !important;
        margin: 5% auto !important;
    }

    .modal-content {
        width: 90% !important;
        margin: 2% auto !important;
    }

    .table-responsive {
        overflow: inherit;
    }

    .header {
        background-color: #eaf3fa !important;
        color: black !important;
    }
</style>

<h2>Usuarios</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Parámetros</li>
        <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="loading-spinner-container2">

        </div>
        <div>
            <div class="pull-left ml-auto mr-5">
                <a asp-action="Create" asp-controller="Usuarios" class="btn btn-primary">Agregar</a>

            </div>
            <div class=" pull-right ml-auto mr-5">
                Filtrar:
                <input type="text" id="TextoBuscar">
                <button id="Buscar" type="button" class="btn btn-sm btn-default mb-2" title="buscar">
                    <span class=""><i class="fa fa-search" aria-hidden="true"></i></span>
                </button>
                <button id="Limpiar" type="button" class="btn btn-sm btn-default mb-2" title="limpiar búsqueda">
                    <span><i class="fa fa-eraser" aria-hidden="true"></i></span>
                </button>
            </div>
        </div>

        <table id="SList" class="table-responsive-sm table-striped table-bordered table-sm" style="width: 100%">
            <thead>
                <tr class="header-grilla-default">
                    <th>
                        @Html.DisplayNameFor(model => model.Txt_User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Txt_Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Txt_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Txt_Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nro_Doc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CodRolNavigation.Txt_Desc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sn_Activo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Txt_User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Txt_Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Txt_Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Txt_Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nro_Doc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodRolNavigation.Txt_Desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sn_Activo)
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                Acciones
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Cod_Usario"><i class="fa fa-edit fa-fw" title="Ver Detalle"></i> Editar</a>
                                <a class="dropdown-item" asp-action="Details" asp-route-id="@item.Cod_Usario"><i class="fa fa-eye fa-fw" title="Ver Detalle"></i> Ver Detalle</a>
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Cod_Usario"><i class="fa fa-trash fa-fw" title="Ver Detalle"></i> Borrar</a>
                            </div>
                        </div>

                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="modal-cargarExportXls" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section Scripts {
<script src="~/js/app/menuActivoParametros.js"></script>
    <script>
        $(document).ready(function () {
            var oTable;

            loadTable();

            $('.modal').on('show.bs.modal', function (event) {
                $(".modal-body").html('<div id="loading - spinner1"><i class="fa fa - spinner fa - spin fa - 5x"></i></div>');
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.attr("href");
                var modal = $(this);
                //console.log(url);
                // note that this will replace the content of modal-content ever time the modal is opened
                modal.find('.modal-content').load(url);
            });
            $(".modal").on("hidden.bs.modal", function () {
                $(".modal-content").html("");
                //console.log("limpiando datos");

                $(this).removeData();
            });

            
        });
        function loadTable() {
            var grdConfig = {
                columns: [
                    { data: 'Txt_User' },
                    { data: 'Txt_Password' },
                    { data: 'Txt_Nombre' },
                    { data: 'Txt_Apellido' },
                    { data: 'Nro_Doc' },
                    { data: 'Txt_Desc' },
                    { data: 'Sn_Activo' },
                    { data: '' }
                ],
                columnDefs: [
                    { "width": "11%", "targets": [0,1,2,3,4,5,6] },
                    { "width": "20%", "targets": [7] },
                    { "className": "dt-head-center dt-body-left", "targets": [0, 1] },
                    { "order": [[0, 'asc'], [1, 'asc']] },
                    { "searchable": false, "targets": [1] },
                    { "orderable": false, "targets": [1] },
                    { "responsivePriority": 1, "targets": [0, 1,2,3,4] },
                    { "responsivePriority": 2, "targets": [5,6,7] }

                ],
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal({
                            header: function (row) {
                                var data = row.data();
                                return 'Detalles de ';
                            }
                        })

                    }
                },
                dom: "<'pull-right mr-4 mt-1'l>t" + "<'row'<'col-md-5 col-sm-5 col-5'i><'pull-right ml-auto mr-5'p>>"
            }

            $.extend(dTablesOptions, grdConfig);

            oTable = $('#SList').DataTable(dTablesOptions);
        }

        $('#Buscar').on('click', function () {
            $('#loading-spinner-container2').html('<div id="loading-spinner2"><i class="fa fa-spinner fa-spin fa-5x"></i></div>');
            //sessionStorage.setItem(nombreBusquedaCache, $('#TextoBuscar').val());
            oTable.search($('#TextoBuscar').val()).draw();
            $('#loading-spinner-container2').html('');
        });

        $('#Limpiar').on('click', function () {
            $('#loading-spinner-container2').html('<div id="loading-spinner2"><i class="fa fa-spinner fa-spin fa-5x"></i></div>');

            $('#TextoBuscar').val("");
            //sessionStorage.setItem(nombreBusquedaCache, "");
            oTable.search($('#TextoBuscar').val()).draw();
            $('#loading-spinner-container2').html('');
        });

        $("input").keydown(function (e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                $('#Buscar').focus().click();
                return false;
            }
        });
    </script>
}